.message-left,
.message-right {
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
}

.message-left {
    background-color: #f0f0f0;
    align-self: flex-start;
}

.message-right {
    background-color: #007bff;
    color: white;
    align-self: flex-end;
    text-align: right;
}

.messages {
    flex-grow: 1;
    overflow-y: auto;
    max-height: 70vh;
    /* Ограничиваем высоту области сообщений */
}

.chat-container {
    height: 100vh;
}